<h1>Welcome.</h1>
<a href="/todos/todos">To-Dos</a> | <a href="/users/users">Users</a><br>
<br>
<a href="/logins/new_login">Log in</a> | <a href="/users/create_user">Sign up</a> | <a href="/users/users">View Users</a>