<br>
<form action="/logins/create_login" method="post">
Email:<br>
<input type="string" name="email"><br>
<br>
Password:<br>
<input type="string" name="password"><br>
<br>
<input type="submit" value="Submit"><br>

</form><br>