<h1>Add a to do</h1>

<form action="/todos/added_todo" method="post">
Title:<br>
<input type="string" name="title"><br>
<br>
Description:<br>
<input type="string" name="description"><br>
<br>
<input type="submit" value="Submit"><br>

</form><br>