<h1>Edit a to do</h1>

<form action="/todos/edit" method="post">
Title:<br>
<input type="string" name="title"><br>
<br>
Description:<br>
<input type="string" name="description"><br>
<br>
Completed?:<br>
<select name="completed">
  <option value="true">Yes</option>
  <option value="false">No</option>
</select>
  <br><br>
<input type="submit" value="Submit"><br>

</form><br>