<h1>Create user</h1>

<form action="/users/user_created" method="post">
Name:<br>
<input type="string" name="human"><br>
<br>
Email:<br>
<input type="string" name="email"><br>
<br>
Password:<br>
<input type="string" name="password"><br>
<br>
<input type="submit" value="Submit"><br>

</form><br>